@media screen and (max-width: 1024px) {
  .portofolio {
    grid-template-columns: repeat(2, $portW);
    grid-template-rows: repeat($portH);
    grid-gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .portofolio {
    grid-template-columns: repeat(1, $portW);
    grid-template-rows: repeat(auto, $portH);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .portofolio {
    overflow-x: auto;
  }
}
