.portofolio {
  background: $background;
  padding-top: $portPadding;
  padding-bottom: $portPadding;
  /* the grid */
  display: grid;
  grid-template-columns: repeat(3, $portW);
  grid-template-rows: repeat(3, $portH);
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  .porto-items {
    @include flexCol(center);
    height: $portH;
    width: $portW;
    border-radius: 10%;
    background: url("donnygoed.jpg");
    background-size: cover;
    transition: 1s;
    button {
      background-color: $background;
      height: 40px;
      width: 100px;
      position: relative;
      z-index: -1;
    }
    &:hover {
      background: rgb(6, 6, 36);
      button {
        z-index: 1;
      }
    }
  }
}
