.social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-x: hidden;
  .button {
    @include flexRow(left);
    padding-left: 15px;
    color: white;
    height: 50px;
    width: 250px;
    border: none;
    outline: inherit;
    cursor: pointer;
    transition: 0.5s;
    transform: translateX(190px);
    &:hover {
      transform: translateX(0px);
    }
    p {
      align-self: center;
      padding-left: 40px;
      font-size: 15px;
      text-decoration: underline;
    }
    .fa-solid {
      font-size: 28px;
    }
    .fa-brands {
      font-size: $butFont;
    }
  }

  #b-blog {
    background-color: #e17b77;
  }
  #b-twit {
    background-color: #3b5998;
  }
  #b-link {
    background-color: #007bb6;
  }
  #b-face {
    background-color: #00aced;
  }
  #b-git {
    background-color: #333;
  }
}
