@mixin flexCol($justify) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $justify;
}

@mixin flexRow($justify) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify;
}

/* All */

$background: (#c3cfe2a9);

/* Portofolio */

$portH: (400px);
$portW: (360px);
$portPadding: (60px);

/* Social */

$butFont: (30px);

/* Testimonial */

$testiBorder: (50px);
$testiPadding: (60px);
