/* All */
/* Portofolio */
/* Social */
/* Testimonial */
.testimonial-frame {
  width: 897px;
  height: 1046px;
  background-color: #c3cfe2a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-frame .testimonial-container {
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 15px 5px #00000038;
          box-shadow: 5px 5px 15px 5px #00000038;
  margin: 30px 60px;
  /* the grid */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 670px 0px 326px;
      grid-template-rows: 670px 0px 326px;
}

.testimonial-frame .top {
  font-size: 48px;
  padding: 60px 60px 0px 60px;
  line-height: 70px;
  color: rgba(0, 0, 0, 0.685);
  background-color: white;
  border-radius: 50px 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.testimonial-frame .mid {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-frame .mid img {
  border-radius: 50%;
  padding: 10px;
  background-color: white;
}

.testimonial-frame .bot {
  background-color: #686de0;
  padding-top: 15px;
  border-radius: 0 0 50px 50px;
  color: white;
  letter-spacing: 8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-frame .bot a {
  color: rgba(255, 255, 255, 0.404);
  letter-spacing: 6px;
}

.portofolio {
  background: #c3cfe2a9;
  padding-top: 60px;
  padding-bottom: 60px;
  /* the grid */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[3];
      grid-template-columns: repeat(3, 360px);
  -ms-grid-rows: (400px)[3];
      grid-template-rows: repeat(3, 400px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
}

.portofolio .porto-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 360px;
  border-radius: 10%;
  background: url("donnygoed.jpg");
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.portofolio .porto-items button {
  background-color: #c3cfe2a9;
  height: 40px;
  width: 100px;
  position: relative;
  z-index: -1;
}

.portofolio .porto-items:hover {
  background: #060624;
}

.portofolio .porto-items:hover button {
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .portofolio {
    -ms-grid-columns: (360px)[2];
        grid-template-columns: repeat(2, 360px);
    -ms-grid-rows: ()[400px];
        grid-template-rows: repeat(400px);
    grid-gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .portofolio {
    -ms-grid-columns: (360px)[1];
        grid-template-columns: repeat(1, 360px);
    -ms-grid-rows: (400px)[auto];
        grid-template-rows: repeat(auto, 400px);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .portofolio {
    overflow-x: auto;
  }
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow-x: hidden;
}

.social-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 15px;
  color: white;
  height: 50px;
  width: 250px;
  border: none;
  outline: inherit;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(190px);
          transform: translateX(190px);
}

.social-container .button:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.social-container .button p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 40px;
  font-size: 15px;
  text-decoration: underline;
}

.social-container .button .fa-solid {
  font-size: 28px;
}

.social-container .button .fa-brands {
  font-size: 30px;
}

.social-container #b-blog {
  background-color: #e17b77;
}

.social-container #b-twit {
  background-color: #3b5998;
}

.social-container #b-link {
  background-color: #007bb6;
}

.social-container #b-face {
  background-color: #00aced;
}

.social-container #b-git {
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
}

* .testimonial-container,
.portefolio,
.social-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* a {
  text-decoration: none;
}

body {
  background: #c3cfe2a9;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */